body{
    margin: 0px;
    padding: 0px;
    background: #262626;
}
section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,  -50%);
      height: 500px;
    width: 100%;
      background: #000;
    box-shadow: 0  25px 30px rgba(0,0,0,0.5);
    display: flex;
     background-image: url("../bgimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
section div.content {
    width: calc( 45% );
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    box-sizing: border-box;
       color: #6d6b6b;
    padding: 0px 30px;
       position: relative;
    font-size: 16px;

}
section div.contentText {
     position: absolute;
    top: 50%;
    width: calc(70%);
    left: 50%;
    transform: translate(-50% ,-50%);
}
div.imageBoxContainer{
    width: calc( 55% );
    height: 100%;
  background: rgba(255, 255, 255, 0.75);
    box-sizing: border-box;
     display: flex;
}

div.imageBoxSubContainer{
     width: calc( 25%  );
    height: 100%;
     box-sizing: border-box;
    transform: skew(-15deg);
/*    transition-delay: .3s;*/
     }

div.bg1{
         background: url(../img1.jpg)  ;
     background-repeat: no-repeat;
    background-size: cover;
}
div.bg2{
   background: url(../img2.jpg);
     background-repeat: no-repeat;
    background-size: cover;
}
div.bg3{
       background: url(../img3.jpg);
     background-repeat: no-repeat;
    background-size: cover;
}
div.bg4{
     background: url(../img4.jpg);
     background-repeat: no-repeat;
    background-size: cover;
}
div.bg5{
   background: url(../img5.jpg);
     background-repeat: no-repeat;
    background-size: cover;
}
/*
div.bg1:hover,div.bg2:hover,div.bg3:hover,div.bg4:hover{
     width: calc( 100%  );
      background-size: 100% 100%;
       }
*/
.pull-left{
    float: left;
}
.pull-right{
    float:right;
}
.clearfix{
    clear: both;
}
.width-50{
    width: 50%;
}
h1{
    font-size: 27px;
    font-family: sans-serif;
    font-weight: normal;
    margin-bottom: 25px;
}
.text-blue{
    color: aqua;
}
a.linkText{
    letter-spacing: 3px;
    font-weight: normal;
    word-spacing: 2px;
    text-decoration: none;
}

a.prev{
    position: absolute;
    left: 0%;
    top: 50%;
    font-size: 36px;
    transform: translate(-300% , -50%);
}
.displayNone{
    display: none;
}
.width{
    width: 100% !important;
/*      transform: skew(-1deg) !important;*/
}
/*-----------------------------slide show coding--------*/

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
div.contentText p{
        margin: 12% 0px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .5s;
  animation-name: fade;
  animation-duration: .5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/*Media Queries for responsive design*/
@media only screen and (max-device-width : 768px) {
/* Styles */
    
    div.content {
    width: calc( 50% );
    }
    div.imageBoxContainer{
        width: calc( 50% );
    }
    div.imageBoxSubContainer{
         transform: skew(0deg);
   }
    div.contentText {
       width: calc(92%);
  }    
}
@media only screen and (max-device-width : 468px) {
/* Styles */
    section{
        display: block;
        overflow: visible;
    }
    div.content {
    width: calc( 100% );
    }
      div.imageBoxContainer{
        width: calc( 100% );
    }
    h1{
        font-size: 24px;
    }
   
    div.contentText {
       width: calc(92%);
  }    
}